.lineup-outter{
	width: 100%;
	height: 94%;
	overflow: hidden;
}

.lineup-inner{
	width: 100%;
	height: 100%;
}

.lineup-inner .lineup-page{
	width: inherit;
	height: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*COVER*/
.lineup-inner .lineup-page.cover{
	position: relative;
}
.lineup-cover-sash{
	height: 40%;
	width: inherit;
	background: url(../img/layout-img/frenchstucco.png);
	position: absolute;
	top: 40%;
	margin-top: -20%;
	z-index: 100;
	opacity: .9;
}

	.lineup-cover-sash .lineup-title{
		width: 70%;
		margin: 60px auto 0 auto;
		text-align: center;
	}

		.lineup-cover-sash .lineup-title p{
			line-height: 20pt;
		}

		.lineup-cover-sash .lineup-title .likes{
			font-size: 11px;
			color: #4b4b4b;
			border-top: #666 1px solid;
			width: 25%;
			margin: 0 auto;
			padding-top: 10px;
		}
	.lineup-cover-sash .sash-footer{
		position: absolute;
		bottom: 0;
		height: 25%;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		border-top: #c2c2c2 1px solid;
	}

		.lineup-cover-sash .sash-footer .author-container{
			padding: 15px 0 0 0;
			width: 25%;
			/*margin: 0 auto;*/
		}

			.lineup-cover-sash .sash-footer .author-container img{
				width: 20%;
				float: left;
			}

				.lineup-cover-sash .sash-footer .author-container .author-name-container{
					width: 75%;
					float: right;
				}

					.lineup-cover-sash .sash-footer .author-container .author-name-container span.author-name{
						display: block;
						font-size: 13px;
					}

					.lineup-cover-sash .sash-footer .author-container .author-name-container span.created-at{
						font-size: 11px;
					}
	.swipe-sash{
		position: absolute;
		bottom: 10%;
		right: 0;
		width: 225px;
		height: 72px;
		background: url(../img/swipe-sash.png) no-repeat center center;
	}

		.swipe-sash .swipe-inner{
			display: table-cell;
			height: inherit;
			width: inherit;
			vertical-align: middle;
			font-family: 'Fjalla One', sans-serif;
			color: #424242;
			text-transform: uppercase;
			font-size: 17pt;
			text-align: right;
			padding-right: 25px;
		}

			.swipe-sash .swipe-inner span.swipe-hand{
				display: inline-block;
				width: 44px;
				height: 20px;
				background: url(../img/swipe-hand.png) no-repeat center center;
				margin-right: 10px;
			}