.lineup-outter{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.lineup-inner{
	width: 100%;
	height: 100%;
}

.lineup-inner .lineup-page{
	width: inherit;
	height: inherit;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/*COVER*/
.lineup-inner .lineup-page.cover{
	position: relative;
}
.lineup-cover-sash{
	height: 40%;
	width: inherit;
	background: url(../img/layout-img/frenchstucco.png);
	position: absolute;
	bottom: 60%;
	margin-bottom: -30%;
	z-index: 100;
	opacity: .9;
}
	.lineup-page.inner .lineup-cover-sash{
		height: 50%;
		bottom: 0 !important;
		margin-bottom: 0px !important;
	}

	.lineup-cover-sash .lineup-title{
		width: 70%;
		margin: 60px auto 0 auto;
		text-align: center;
	}

		.lineup-cover-sash .lineup-title p{
			line-height: 20pt;
		}

		.lineup-cover-sash .lineup-title .likes{
			font-size: 11px;
			color: #4b4b4b;
			border-top: #666 1px solid;
			width: 25%;
			margin: 0 auto;
			padding-top: 10px;
		}
	.lineup-cover-sash .sash-footer{
		position: absolute;
		bottom: 0;
		height: 25%;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		border-top: #c2c2c2 1px solid;
	}

		.lineup-cover-sash .sash-footer .author-container{
			padding: 15px 0 0 0;
			width: 25%;
			/*margin: 0 auto;*/
		}

			.lineup-cover-sash .sash-footer .author-container img{
				width: 20%;
				float: left;
			}

				.lineup-cover-sash .sash-footer .author-container .author-name-container{
					width: 75%;
					float: right;
				}

					.lineup-cover-sash .sash-footer .author-container .author-name-container span.author-name{
						display: block;
						font-size: 13px;
					}

					.lineup-cover-sash .sash-footer .author-container .author-name-container span.created-at{
						font-size: 11px;
					}
	.swipe-sash{
		position: absolute;
		bottom: 10%;
		right: 0;
		width: 225px;
		height: 72px;
		background: url(../img/swipe-sash.png) no-repeat center center;
	}

		.swipe-sash .swipe-inner{
			display: table-cell;
			height: inherit;
			width: inherit;
			vertical-align: middle;
			font-family: 'Fjalla One', sans-serif;
			color: #424242;
			text-transform: uppercase;
			font-size: 17pt;
			text-align: right;
			padding-right: 25px;
		}

			.swipe-sash .swipe-inner span.swipe-hand{
				display: inline-block;
				width: 44px;
				height: 20px;
				background: url(../img/swipe-hand.png) no-repeat center center;
				margin-right: 10px;
			}

.lineup-page.inner .title-nav{
	padding: 0 20px;
}
	.lineup-page.inner .title-nav h1{
		font-family: 'Fjalla One', sans-serif;
		font-weight: normal;
		font-size: 18pt;
		width: 50%;
		float: left;
	}			

	.lineup-page.inner .title-nav ul{
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		width: 45%;
		height: inherit;
		padding: 17px;
	}

		.lineup-page.inner .title-nav ul li{
			float: right;
			width: 27px;
			height: 27px;
			margin-right: 10px;
		}
			.lineup-page.inner .title-nav ul li:first-child{
				margin-right: 0;
			}
		.lineup-page.inner .title-nav ul li a{
			display: table-cell;
			height: inherit;
			width: inherit;
		}
			.lineup-page.inner .title-nav ul li a.watch{
				background: url(../img/watch.png) no-repeat center center;
			}		
			.lineup-page.inner .title-nav ul li a.trailer{
				background: url(../img/trailers.png) no-repeat center center;
			}

			.lineup-page.inner .title-nav ul li a.share{
				background: url(../img/share.png) no-repeat center center;
			}

			.lineup-page.inner .title-nav ul li a.watchlist{
				background: url(../img/watchlist-off.png) no-repeat center center;
			}			
				.lineup-page.inner .title-nav ul li a.watchlist.on{
					background: url(../img/watchlist-on.png) no-repeat center center;
				}			
			.lineup-page.inner .title-nav ul li a.watched{
				background: url(../img/seen-off.png) no-repeat center center;
			}

			.lineup-page.inner .title-nav ul li a.fav{
				background: url(../img/fav-off.png) no-repeat center center;
			}

div.lineup-inner-details .left{
	width: 60%;
	float: left;
}
div.lineup-inner-details .right{
	width: 40%;
	float: left;
}
	div.lineup-inner-details .left p{
		padding: 20px 40px 20px 20px;
		line-height: 18pt;
	}

div.lineup-inner-details .right{
	padding-top: 2%;
}
div.lineup-inner-details .right .features{
	border-bottom: #c2c2c2 1px solid;
}
	.features .feature{
		padding: 10px 0;
	}

	.features.ratings{
		padding: 10px 0;
	}
		.features.ratings h5, .features .feature strong{
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			color: #666;
			font-weight: normal;
		}

		.features .feature strong{
			margin-right: 20px;
		}
	div.lineup-inner-details .right .features .feature.critics{
		margin-right: 10px;
	}
	div.lineup-inner-details .right .features .feature.critics,div.lineup-inner-details .right .features .feature.audience{
		width: 45%;
		float: left;
	} 	

div.features .progress .bar{
	background-color: #666;
	background-image: -moz-linear-gradient(top,#666,#666);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#666),to(#666));
	background-image: -webkit-linear-gradient(top,#666,#666);
	background-image: -o-linear-gradient(top,#666,#666);
	background-image: linear-gradient(to bottom,#666,#666);
}