html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #e1e1e1;
	font-family: 'Helvetica';
	font-weight: 200;
	color: #424242;
}

a{
	border: none;
}

div#container{
	width: 100%;
	height: 100%;
}

div#container-wrapper{
	width: 100%;
	height: 100%;
}

div#display_wrapper{
	width: 95%;
	margin: 56px auto 0 auto;
}

div#content-wrapper.nav-out{
	margin-left: 35%;
}

h1,h2,h3,h4,h5{
	font-family: 'Fjalla One', sans-serif;
	color: #424242;
	font-weight: 400;
}